#main-div {
    position: relative;
    margin: 100px auto;
    width: 50%;
    height: 2000px;

    display: grid;
    grid-template-rows: 0.2fr 1.5fr 1.3fr 1fr 1fr;
}

i {
    color: gold;
}

#host-profile {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #EDA800;
}

#host-details {
    display: flex;
}

#host-details > span {
    line-height: 10px;
    margin: -5px 10px;
    font-size: 25px;
    color: #EDA800;
}

#img-div > img {
    box-shadow: 0 0 50px #EDA800;
    border: 5px solid #EDA800;
    border-radius: 30px;
    width: 100%;
}

#details-div {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    height: fit-content;
    padding-bottom: 30px;
    border-bottom: 1px solid #EDA800;
}

#edit-delete-spot {
    margin-top: 80px;
}

#edit-spot-button {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    transition: .5s font-size;
}

#edit-spot-button:hover, #delete-spot-button:hover {
    font-size: 30px;
}

#delete-spot-button {
    display: block;
    margin: auto;
    width: 60%;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    transition: .5s font-size;
}

#details-div > #booking-div {
    transition: background-color .5s;
    border-radius: 20px;
    width: 90%;
    height: 90%;
    margin: auto;
}

#price-rating {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 50px;
}

#price-rating > p {
    margin: 0 30px;
    font-size: 20px;
}

#upper-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#lower-form {
    display: block;
    margin: 23px 0;
    position: relative;
    width: 95.6%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid gray;
}

#lower-form-not-available {
    display: block;
    margin: 23px 0;
    position: relative;
    width: 90.4%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid gray;
}

#upper-form > label, #upper-form > input {
    display: block;
    text-align: left;
    height: 50px;
}

#upper-form > label {
    width: 100%;
}

#upper-form > #check-in > input {
    width: 81%;
    height: 50px;
    border-top-left-radius: 10px;
    border: 1px solid gray;
}

#upper-form > #check-out > input {
    position: relative;
    right: 40px;
    width: 80%;
    height: 50px;
    border-top-right-radius: 10px;
    border: 1px solid gray;
}

#booking-div > form {
    width: 90%;
    margin: auto;
    color: white;
}

#book-button {
    transition: backround-color .5s;
    background-color: #EDA800;
    display: block;
    margin: auto;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 15px;
}

#book-button:hover {
    background-color: #EDA800;
}

#your-total {
    text-align: center;
    color: white;
}

#reviews-div {
    height: auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #EDA800;
}

#map-div {
    height: 500px;
}

.review-container {
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    color: #EDA800;
    transition: .5s background-color;
}

.review-container:hover {
    background-color: #383838;
}

.author-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #EDA800;
}

.author-review {
    display: flex;
    line-height: 0;
}

.author-review > span {
    margin-left: 10px;
}

#reviews-title {
    display: flex;
}

#reviews-title > h1 {
    margin-bottom: -5px;
    margin-left: 15px;
}

#reviews-title > button {
    height: 40px;
    width: 60px;
    margin-top: 21px;
    margin-left: 20px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    transition: .5s background-color;
}

#reviews-title > button:hover {
    background-color: #4D4D4D;
}

#reviews-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#cancel-book-button {
    color: white;
    background-color: rgba(255, 0, 0, 0.418);
    display: block;
    margin: auto 30px;
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 15px;
    transition: .5s background-color;
}

#cancel-book-button:hover {
    background-color: rgba(255, 0, 0, 0.705);
}

.edit-delete-review-button {
    position: relative;
    left: 270px;
    bottom: 140px;
}

.edit-review-button, .delete-review-button {
    background-color: transparent;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    transition: .5s background-color color;
}

.edit-review-button:hover, .delete-review-button:hover {
    background-color: #4D4D4D;
}

.review-spot-widget {
    background-color: red;
}

.edit-review-div > textarea {
    color: white;
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    margin-top: 10px;
    background-color: #666666;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 5px;
    width: 250px;
}

.rating-range  {
    display: flex;
}

.rating-range > p {
    margin-left: 10px;
}

.edit-cancel-review {
    position: relative;
    left: 275px;
    bottom: 155px;
}

.edit-cancel-review > button {
    background-color: transparent;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    transition: .5s background-color;
}

.edit-cancel-review > button:hover {
    background-color: #4D4D4D;
}

.delete-cancel-review {
    position: relative;
    left: 275px;
    bottom: 140px;
}

.delete-cancel-review > button {
    background-color: transparent;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
    transition: .5s background-color;
}

.delete-cancel-review > button:hover {
    background-color: #4D4D4D;
}

.error {
    color: #FF4D7D;
    padding-left: 5px;
}

.error > i {
    color: #FF4D7D;
}

#add-review-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding-top: 70px;
}

#add-review-div > textarea {
    border-radius: 10px;
    color: white;
    background-color: #4D4D4D;
    border: none;
    outline: none;
}

#add-review-div > span {
    display: flex;
    justify-content: center;
}

#error {
    color: #FF4D7D;
    text-align: center;
    margin-top: -10px;
}

#error > i {
    color: #FF4D7D;
    padding-left: 5px;
}

#add-review-div > button {
    width: 50%;
    height: 40px;
    margin: auto;
    border-radius: 15px;
    border: none;
    transition: .5s background-color;
    background-color: transparent;
    color: white;
}

#add-review-div > button:hover {
    background-color: #4D4D4D;
}

#edit-form-modal {
    color: white;
    text-align: center;
}

#edit-form-modal > form > label > input, #edit-form-modal > form > label > textarea {
    display: block;
    margin: auto;
    width: 60%;
    height: 40px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #88888888;
    color: white;
    margin-bottom: 15px;
}

#edit-form-modal > form > button {
    display: block;
    margin: auto;
    width: 30%;
    height: 40px;
    border-radius: 20px;
    border: none;
}

#edit-form-modal > ul {
    color: #FF4D7D;
    list-style: none;
    padding-left: 0;
}

#edit-form-modal > form > span {
    display: flex;
    justify-content: center;
    background-color: #88888888;
    width: 60%;
    height: 40px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 15px;
}

#booking-errors {
    color: #FF4D7D;
    list-style: none;
    text-align: center;
    padding-left: 0;
}

#booking-errors > li > i {
    color: #FF4D7D;
}

#spot-not-available-div > h2, #spot-not-available-div > h2 > i {
    color: rgb(71, 255, 47);
}

#spot-not-available-div > form {
    color: white;
    padding-left: 50px;
}

#spot-not-available-div {
    text-align: center;
}
