#main-div {
    position: relative;
    margin: 100px auto;
    width: 50%;
    height: 2000px;

    display: grid;
    grid-template-rows: 0.2fr 1.5fr 1.3fr 1fr 1fr;
}

#title-div {
    background-color: coral;
}

#img-div {
    background-color: cornflowerblue;
}

#img-div > img {
    width: 100%;
}

#details-div {
    /* background-color: crimson; */
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    height: 500px;
}

#details-div > #details {
    border: solid 1px greenyellow;
}

#details-div > #booking-div {
    border: solid 1px greenyellow;
    width: 90%;
    height: 90%;
    margin: auto;
}

#details-div > #booking-div > #price-rating {
    display: flex;
    justify-content: space-between;
}

#upper-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#lower-form {
    display: block;
    margin: 23px auto;
    position: relative;
    width: 98.2%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid gray;
}

#upper-form > label, #upper-form > input {
    display: block;
    text-align: left;
    height: 50px;
}

#upper-form > label {
    width: 100%;
}

#upper-form > #check-in > input {
    width: 80%;
    height: 50px;
    border-top-left-radius: 10px;
    border: 1px solid gray;
}

#upper-form > #check-out > input {
    position: relative;
    right: 40px;
    width: 80%;
    height: 50px;
    border-top-right-radius: 10px;
    border: 1px solid gray;
}

#booking-div > form {
    width: 90%;
    margin: auto;
}

#book-button {
    background-color: lime ;
    display: block;
    margin: auto;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 15px;
}

#your-total {
    text-align: center;
}

#reviews-div {
    background-color: darkcyan;
    height: auto;
}

#map-div {
    background-color: gold;
    height: 500px;
}

.review-container {
    background-color: white;
    border: green 1px solid;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}

#reviews-title {
    display: flex;
}

#reviews-title > h1 {
    margin-bottom: -5px;
    margin-left: 15px;
}

#reviews-title > button {
    height: 40px;
    width: 60px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    border: none;
}

#reviews-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#cancel-book-button {
    background-color: red ;
    display: block;
    margin: auto;
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 15px;
}
