#main-div {
    position: relative;
    margin: 100px auto;
    width: 50%;
    height: 2000px;

    display: grid;
    grid-template-rows: 0.2fr 1.5fr 1.3fr 1fr 1fr;
}

i.fa-star, i.fa-grin-stars, i.fa-dollar-sign {
    color: gold;
}

#host-profile {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid gold;
}

#host-details {
    display: flex;
}

#host-details > span {
    line-height: 10px;
    margin: -5px 10px;
    font-size: 25px;
    color: gold;
}

#img-div > img {
    box-shadow: 0 0 50px goldenrod;
    border: 5px solid goldenrod;
    border-radius: 30px;
    width: 100%;
}

#details-div {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    height: 300px;
}

#edit-delete-spot {
    margin-top: 60px;
}

#edit-spot-button {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 50px;
    border-radius: 20px;
    border: none;
}

#delete-spot-button {
    display: block;
    margin: auto;
    width: 60%;
    height: 50px;
    border-radius: 20px;
    border: none;
}

#details-div > #booking-div {
    transition: background-color .5s;
    border-radius: 20px;
    width: 90%;
    height: 90%;
    margin: auto;
}

#details-div > #booking-div:hover {
    background-color: #262626;
}

#price-rating {
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 50px;
}

#price-rating > p {
    margin: 0 30px;
    font-size: 20px;
}

#upper-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#lower-form {
    display: block;
    margin: 23px auto;
    position: relative;
    width: 98.2%;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid gray;
}

#upper-form > label, #upper-form > input {
    display: block;
    text-align: left;
    height: 50px;
}

#upper-form > label {
    width: 100%;
}

#upper-form > #check-in > input {
    width: 80%;
    height: 50px;
    border-top-left-radius: 10px;
    border: 1px solid gray;
}

#upper-form > #check-out > input {
    position: relative;
    right: 40px;
    width: 80%;
    height: 50px;
    border-top-right-radius: 10px;
    border: 1px solid gray;
}

#booking-div > form {
    width: 90%;
    margin: auto;
    color: white;
}

#book-button {
    transition: backround-color .5s;
    background-color: gold;
    display: block;
    margin: auto;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 15px;
}

#book-button:hover {
    background-color: goldenrod;
}

#your-total {
    text-align: center;
    color: white;
}

#reviews-div {
    height: auto;
}

#map-div {
    height: 500px;
}

.review-container {
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}

#reviews-title {
    display: flex;
}

#reviews-title > h1 {
    margin-bottom: -5px;
    margin-left: 15px;
}

#reviews-title > button {
    height: 40px;
    width: 60px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 15px;
    border: none;
}

#reviews-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#cancel-book-button {
    background-color: red ;
    display: block;
    margin: auto;
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 15px;
}

.review-spot-widget {
    background-color: red;
}
