#states-nav {
    position: absolute;
    top: 100px;
    left: 20%;
    width: 60%;
    color: goldenrod;
    border-bottom: 1px solid goldenrod;
    list-style: none;

    display: flex;
    justify-content: space-evenly;
}

.spots-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: goldenrod;
    position: relative;
    margin: auto;
    padding-top: 20px;
    top: 70px;
    width: 2000px;
    height: 1800px;
}

#states-nav > li {
    cursor: pointer;
}
