#user-main-div {
    position: relative;
    margin: 80px auto;
    height: auto;
    top: 70px;
    display: grid;
    grid-template-rows: 0.2fr 0.8fr;
    width: auto;
}

#user-body {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    margin: 50px auto;
}

/* ***************************************** */

#user-header {
    display: flex;
    justify-content: center;
}

#user-header > span {
    margin: auto 20px;
    text-align: right;
    line-height: 10px;
    color: white;
}

#user-header > span > h1 {
    font-size: 100px;
}

#user-header > img {
    width: 400px;
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(207, 148, 0, 0.377);
}


/* ***************************************** */

#spot-list {
    width: fit-content;
    height: fit-content;
    color: white;
    text-align: center;
    border: 1px solid gold;
    padding-right: 40px;
    border-radius: 20px;
    margin-right: 50px;
}

#spot-list > h2 {
    margin-left: 40px;
    border-bottom: 1px solid gold;
}

#create-spot-button {
    background-color: transparent;
    border: none;
    color: white;
    margin-left: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .5s font-size;
}

#create-spot-button:hover {
    font-size: 20px;
}

/* ***************************************** */

#booking-list {
    border: 1px solid gold;
    border-radius: 20px;
    padding-right: 40px;
}

#your-bookings {
    margin-left: 50px;
    border-bottom: 1px solid gold;
    text-align: center;
    color: white;
}

/* ***************************************** */

#review-list {
    border: 1px solid gold;
    height: fit-content;
    border-radius: 20px;
    color: white;
    width: auto;
    margin-left: 50px;
}

#review-list > h2 {
    border-bottom: 1px solid gold;
    text-align: center;
    width: 80%;
    margin: 20px auto;
}
