/* TODO Add site wide styles */
* {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

button, a {
    cursor: pointer;
}

body {
    background-color: #1C1C1C;
    background-image: url('../public/airbnb-deluxe-assets/background.png');
    background-size: 600px;
}

h1 {
    color: #CF9400;
    font-family: 'Rubik', sans-serif;
}

p {
    color: white;
    font-family: 'Rubik', sans-serif;
}
