.booking-div {
    background-color: aquamarine;
    border-radius: 20px;
    width: 600px;
    height: 200px;
}

.booking-img {
    position: relative;
    bottom: 98.3px;
    left: 300px;
    width: 300px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.booking-h3 {
    position: relative;
    bottom: 220px;
}
