#nav {
    background-color: rgba(0, 0, 0, 0.322);
    text-align: center;
    list-style: none;
    height: 80px;
    border: 2px solid black;
    backdrop-filter: blur(5px);

    box-shadow: 0 10px 10px 0 rgba(0,0,0,.3);

    position: absolute;
    top: -16px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#nav li {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

#home {
    position: absolute;
    left: 50px;
    margin-top: 10px;
    color: white;
    font-size: 30px;
}

.profile-dropdown {
    position: absolute;
    right: 60px;
    top: 80px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    color: black;
    font-size: 20px;
    /* z-index: 1; */
    border-radius: 10px;
}

.fa-user {
    color: black;
}

.fa-sign-out-alt {
    color: black;
}

#profile-button {
    position: absolute;
    right: 50px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 65px;
    border: none;
    border-radius: 30px;
    top: 5px;
    display: flex;
    justify-content: space-evenly;
}

#profile-button > img {
    width: 60px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 1.5px;
}

#profile-button > p {
    color: black;
    font-size: 20px;
}

#profile-button > p > i {
    color: black;
    margin-right: 10px;
    font-size: 20px;
}

#navlink {
    position: absolute;
    right: 50px;
    margin-top: 21px;
    color: white;
}

#demo-login {
    position: absolute;
    right: 210px;
    margin-top: 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 17px;
}

#become-host {
    position: absolute;
    color: white;
    top: 25px;
    font-size: 20px;
    right: 470px;
}

.profile-dropdown > li > button {
    background-color: transparent;
    border: none;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: black;
}
