#login-form {
    position: relative;
    bottom: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#login-form > h2 {
    position: relative;
    top: 10px;
    margin: auto;
    font-size: 30px;
    color: goldenrod;
    border-bottom: 1px solid goldenrod;
}

#login-form input, label {
    display: block;
    text-align: center;
}

#login-form input {
    margin-bottom: 20px;
    margin: 10px auto;
    border-radius: 10px;
    border: none;
    outline: none;

    width: 50%;
    height: 30px;
}

#login-form button {
    margin: 10px auto;
    width: 50%;
    height: 40px;
    background-color: goldenrod;
    border: none;
    border-radius: 20px;
}

#login-form ul {
    width: 50%;
    margin: 10px auto;
    text-align: center;
    list-style: none;
    padding: 10px;
    color: red;
    font-weight: bold;
}

#login-button {
    position: absolute;
    right: 130px;
    margin-top: 20px;

    background-color: transparent;
    border: none;
    color: white;
    font-size: 17px;
}

#sign-up-tag {
    margin-top: 20px;
}

#sign-up-tag > a {
    text-decoration: none;
    color: goldenrod;
}
